@font-face {
  font-family: 'Comic Sans MS';
  src: url("./comic.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS';
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #feff00;
}

main {
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100vw; 
  height: 100vh;
  color: black;
  font-size: 2em;
}

main > footer {
  background-color: #740000f5;
  color: white;
  font-size: 0.35em;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}
footer a {
  text-decoration: underline;
  color: inherit;
}
footer p {
  margin: 0;
  padding: 0;
  text-align: center;
}

#webgl {
  width: 100vw;
  height: 100vh;
}

#title {
  align-self: center;
  display: block;
  width: 99%;
  max-width: 350px;
}

#page-container {
  flex-grow: 1;
  font-size: 0.7em;
  transition: opacity 0.5s ease-in;
  overflow: hidden auto;
}

#this-page-content {
  transition: opacity 0.5s ease-out;
}
.hide {
  opacity: 0%;
}
.show {
  opacity: 100%;
}

#page-buttons {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

#rotate-button {
  padding: 0px 10px;
  border: solid 2px black;
  border-radius: 5px;
  cursor:  pointer;
  transition: 0.3s;
  background-color: white;
}
#rotate-button:hover,
#rotate-button:focus
{
  background-color: rgb(207 235 251);
}

.page-button {
  padding: 10px 20px;
  background-color: #790500d4;
  border: 2px solid #080808;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.4em;
  font-weight: 600;
  cursor: pointer;
  position:relative;
  overflow: hidden;
}
.page-button::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: calc(100% - 40px);
  height: 0.1em;
  background-color: white;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
  transform-origin: center;
}
.page-button:hover::after, 
.page-button:focus::after 
{
  transform: scale(1);
}

.blink {
  animation: blinker 1.5s linear infinite;
  color: rgb(0, 0, 0);
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}


/* responsiveness */
@media (max-width: 1100px) {
  #page-container {
    font-size: 0.6em
  }
}

@media (max-width: 1000px) {
  #page-container {
    font-size: 0.5em
  }
}